body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #9d1919;
  background: radial-gradient(
    circle,
    rgba(157, 25, 25, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );

  --hColor: #cecaca;
  --pColor: #af9e9e;
  --hFont: 'Dancing Script';
  --pFont: 'Lato', sans-serif;

  color: var(--pColor);
}
